.bodyMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -20vh;
}

.bodyMain .searchBar {
  height: 6vh;
  width: 38vw;
  border: 1px solid #5f6368;
  border-radius: 50px;
  margin-top: 3vh;
}

.searchButtons {
  margin-top: 3vh;
}

.searchButtons button {
  width: 8.5vw;
  height: 4.8vh;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  color: white;
  border: none;
  background: #303134;
  font-size: 0.8em;
}

.Links {
  margin-top: 3vh;
}

.Links label {
  font-family: sans-serif;
  font-size: small;
  color: white;
}

.Links label a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: small;
  color: #8ab4f8;
}
