<div class="bodyMain">
  <div class="imgCont">
    <img src="/assets/googlelogo.png" />
  </div>
  <div class="searchBar"></div>
  <div class="searchButtons">
    <button>Google Search</button>
    <button>I'm Feeling Lucky</button>
  </div>
  <div class="Links">
    <label for="#">
      Google offered in:
      <a href="#">
        &nbsp;हिन्दी&nbsp; বাংলা&nbsp; తెలుగు&nbsp; मराठी&nbsp; தமிழ்&nbsp;
        ગુજરાતી&nbsp; ಕನ್ನಡ&nbsp; മലയാളം&nbsp; ਪੰਜਾਬੀ&nbsp;</a
      >
    </label>
  </div>
</div>
